<!doctype html>
<html lang="ko">
<head>
  <title>NewsCloud</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  {% block style %}
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@4/themes/light.css"/>

  <style>
    * {
      font-family: 'Nunito Sans', sans-serif;
    }
  </style>
  {% endblock style %}

</head>


<body>
  <div id="mastheader">
    {% block mastheader %}{% endblock mastheader %}
  </div>


  <div id="mastbody" style="display: flex !important; align-items: center !important; justify-content: center !important;height:100%;background:none;">
    <div style="background:none;text-align:center;">
      <div class="ui text container">
        <h2 class="ui icon header" style="background:none;width:100%;padding:10px;border-bottom:2px solid">
          <i class="map outline icon"></i>
          <div class="content">
            NEWS Cloud
          </div>
        </h2>

        <div>
          <!-- <div class="ui checked all checkbox">
            <input id="all" type="checkbox" checked="">
            <label for="all">Select all</label>
          </div> -->

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="huffington_post" type="checkbox" checked="">
            <label for="huffington_post">Huffington post</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="cnn" type="checkbox" checked="">
            <label for="cnn">CNN</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="investing_com" type="checkbox" checked="">
            <label for="investing_com">Investing.com</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="politico" type="checkbox" checked="">
            <label for="politico">Politico</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="time" type="checkbox" checked="">
            <label for="time">TIME</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="cnbc" type="checkbox" checked="">
            <label for="cnbc">CNBC</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="fox" type="checkbox" checked="">
            <label for="fox">FOX</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="fox_business" type="checkbox" checked="">
            <label for="fox_business">FOX business</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="bbc" type="checkbox" checked="">
            <label for="bbc">BBC</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="business_insider" type="checkbox" checked="">
            <label for="business_insider">Business Insider</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="morningstar" type="checkbox" checked="">
            <label for="morningstar">Morningstar</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="newyork_times" type="checkbox" checked="">
            <label for="newyork_times">Newyork Times</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="nbc" type="checkbox" checked="">
            <label for="nbc">NBC</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="guardian" type="checkbox" checked="">
            <label for="guardian">Guardian</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="reuters" type="checkbox" checked="">
            <label for="reuters">Reuters</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="washington_times" type="checkbox" checked="">
            <label for="washington_times">Washington Times</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="washington_post" type="checkbox" checked="">
            <label for="washington_post">Washington post</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="cbs" type="checkbox" checked="">
            <label for="cbs">CBS</label>
          </div>

          <div class="ui checked checkbox" style="margin-left:20px;">
            <input id="market_watch" type="checkbox" checked="">
            <label for="market_watch">Markt watch</label>
          </div>

        </div>
      </div>

      <div class="ui container" id="newscloud" style="text-align:center;background:none;height:400px;">
        <!-- <div class="ui segment"> -->
          <div class="ui active loader"></div>
          <!-- <p></p> -->
         <!-- </div> -->
      </div>
      {{news}}
    </div>
  </div>

  {% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/semantic/semantic.min.js"></script>
  <script src="/static/feather/feather.js"></script>

  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="/static/d3/d3.layout.cloud.js"></script>
  <script src="/static/d3/wordcloud.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.3/lib/alea.min.js"></script>

  <script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@4"></script>

  <script>
    function update_newscloud(data) {
      $.ajax({
        url: '{% url "update_newscloud" %}',
        async: true,
        type: 'GET',
        data: data,
        dataType: 'json',
        success: function(words) {
          $('#newscloud').html('');
          console.log(words);

          WordCloud({
            container: "#newscloud",
            data: words,
            width: $("#newscloud").width(),
            height: $("#newscloud").height()
          });
        }
      });
    }

    $('.checkbox').checkbox({
      onChange: function() {
        $('#newscloud').html('<div class="ui active loader"></div>');
        var publisher = $(':checkbox').map(function(){ if(this.checked) {return this.id} }).get().join();
        data = { publisher:publisher };
        update_newscloud(data);
      }
    });

    feather.replace();
    update_newscloud();
  </script>
  {% endblock js %}

</body>
</html>
