<style>
  :root {
    --theme-color: rgb(247,94,10);
    /* rgb(237,149,119); */
  }

  #topheader, #topbanner {
    position: fixed;
    top: 0;
    width: 100%;
  }

  #topheader {
    display: none;
    background: white;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  #topbanner {
    background: none;
    z-index: 1;
    border: none
  }

  #topheader .logo.item {
    background: none;
    padding: 0;
  }

  #topheader .logo.item .icon {
    font-size: 40px;
    color: var(--theme-color);
  }

  #banner {
    /* background: var(--theme-color); */
    background: url('https://ak3.picdn.net/shutterstock/videos/6184913/thumb/1.jpg');
    background-size: cover;
    /* margin-top:70px; */
    padding-top: 120px;
    padding-bottom: 80px;
  }

  #banner .header {
    background: none;
    margin: 0;
  }

  #banner .header .icon {
    background: none;
    margin: 0;
    font-size: 100px
  }

  #banner .header .content {
    background: none;
    font-size: 80px;
    font-family: 'Roboto Mono', monospace;
  }

  #banner .header .sub.header {
    font-size: 30px;
    margin-top: 20px;
  }

  td .icon {
    color: black;
  }

  td:hover {
    cursor: pointer;
  }

  td:hover > .icon {
    color: var(--theme-color);
  }
</style>


<div id="topheader" class="ui center aligned vertical segment">
  <div class="ui container">
    <div class="ui icon secondary menu">
      <a class="logo item" href="#">
        <i class="ui barcode icon"></i>
      </a>

      <div class="right menu">
        <a class="item" href="#" data-inverted="" data-tooltip="" data-content="dashboard" data-variation="inverted">
          <i class="material-icons">desktop_windows</i>
        </a>
        <a class="item" href="#" data-inverted="" data-tooltip="" data-content="publica" data-variation="inverted">
          <i class="material-icons">cloud_queue</i>
        </a>
        <a class="item" href="#" data-inverted="" data-tooltip="" data-content="develop" data-variation="inverted">
          <i class="material-icons">code</i>
        </a>
        <a class="item" href="#" data-inverted="" data-tooltip="" data-content="my" data-variation="inverted">
          <i class="material-icons">child_care</i>
        </a>
      </div>
    </div>
  </div>
</div>


<div id="topbanner" class="ui center aligned vertical segment">
  <div class="ui container">
    <div class="ui icon secondary inverted menu">
      <div class="right menu">
        <a class="item" href="#" data-inverted="" data-tooltip="" data-content="dashboard" data-variation="inverted">
          <i class="material-icons">desktop_windows</i>
        </a>
        <a class="item" href="#" data-inverted="" data-tooltip="" data-content="publica" data-variation="inverted">
          <i class="material-icons">cloud_queue</i>
        </a>
        <a class="item" href="#" data-inverted="" data-tooltip="" data-content="develop" data-variation="inverted">
          <i class="material-icons">code</i>
        </a>
        <a class="item" href="#" data-inverted="" data-tooltip="" data-content="my" data-variation="inverted">
          <i class="material-icons">child_care</i>
        </a>
      </div>
    </div>
  </div>
</div>


<div id="banner" class="ui center aligned vertical segment">
  <div class="ui container">
    <div id="detector"></div>
    <h1 class="ui icon inverted header">
      <i class="ui barcode icon"></i>
      <div class="content">
        Flowrence
        <div class="sub header">Where living data stays</div>
      </div>
    </h1>
  </div>
</div>


<div id="signin" class="ui center aligned segment" style="background:white;position:absolute;left:100%;padding:30px 10px 20px 10px;box-shadow: 0 0 10px rgba(0,0,0,0.2);">
  <div class="ui container" style="background:none;width:220px;padding:0;margin:0;">
    <h3 class="ui icon header">
      Sign in with
    </h3>

    <table class="ui unstackable collapsing celled table" style="background:none;border:none;">
      <tbody style="">
        <tr class="center aligned" style="background:none;">
          <td style="border:none;"><i class="ui huge google icon" style="font-size:40px;background:none;"></i></td>
          <td style="border:none;"><i class="ui huge facebook icon" style="font-size:40px;"></i></td>
        </tr>
        <tr class="center aligned" style="background:none;">
          <td style="border:none;"><i class="ui huge github icon" style="font-size:40px;background:none;"></i></td>
          <td style="border:none;"><i class="ui huge twitter icon" style="font-size:40px;"></i></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
