{% extends "florence/layout.html" %}

{% block css %}
  {{ block.super }}
  <style>
    .codebox {
      width: 100%;
      background: whitesmoke;
      padding: 10px;
      border-radius: 10px;
    }

    #editor-module {
      min-height: 100px;
      background: none;
    }

    #editor-test {
      min-height: 50px;
      background: none;
    }

    .ace_mobile-menu {
      display: none !important;
    }
  </style>
{% endblock css %}


{% block mastbody %}
<div class="ui center aligned vertical segment" style="background:none;border:none;height:100px;">
  <div class='ui text container' style='text-align:left;'>
    {% for module in user.module_set.all %}
    <div class='mymodule' code='{{module.code}}'>
      {{ module.name }}
    </div>
    {% endfor %}
  </div>
</div>

<div class="ui center aligned vertical segment" style="background:none;border:none;">
  <div class="ui text container">
    <div class='ui header'>Code</div>
    <div id='imports'></div>
    <div class='codebox'>
      <div id="editor-module">function foo(items) {
  var x = "All this is syntax highlighted";
  return x;
}</div>
    </div>
  </div>
</div>

<div class="ui center aligned vertical segment" style="background:none;border:none;">
  <div class="ui text container">
    <div class='ui header'>Tester</div>
    <div class='codebox'>
      <div id="editor-test">const stocks = new AlphaVantageStockDataSourcer();
const params = {
  apikey: '2JOML1ZPSME2Q28A',
  symbol: 'aapl'
};

stocks.get_test(params);
https://stackoverflow.com/questions/43796705/how-to-include-cdn-in-javascript-file-js</div>
    </div>
  </div>
</div>

<div class="ui center aligned vertical segment" style="background:none;border:none;">
  <div class="ui text container">
    <button id="modulizer" class="ui black button">modulize</button>
    <button id="tester" class="ui black button">test</button>
  </div>
</div>

<div class="ui center aligned vertical segment" style="background:none;border:none;">
  <div class="ui text container">
    <div id='result' class='codebox' style='text-align:left;font-size:12px;'>
    </div>
  </div>
</div>
{% endblock mastbody %}

{% block js %}
  {{ block.super }}
  <script>
    // console.log = (function (old_function, div_log) {
    //     return function (text) {
    //         old_function(text);
    //
    //         // if (typeof text === 'object') {
    //         //   jsonView.format(text, div_log);
    //         // } else {
    //         //   jsonView.format(JSON.stringify(text), div_log);
    //         // }
    //         jsonView.format({'result':text}, div_log)
    //     };
    // } (console.log.bind(console), '#result'));



    let editor_module = init_editor('editor-module');
    let editor_test = init_editor('editor-test');

    function init_editor(editor_id) {
      let editor = ace.edit(editor_id);

      editor.setOptions({
  			maxLines: Infinity,        // 줄 전체를 표시
  			highlightActiveLine: true, // 현재 행에 하이라이트 표시
  			theme: 'ace/theme/chrome', // 표시 테마
        showGutter: false,
        readOnly: false,
        mode: "ace/mode/javascript"
  		})

      editor.commands.addCommand({
        name: "showKeyboardShortcuts",
        bindKey: {win: "Ctrl-Alt-h", mac: "Command-Alt-h"},
        exec: function(editor) {
                ace.config.loadModule("ace/ext/keybinding_menu", function(module) {
                    module.init(editor);
                    editor.showKeyboardShortcuts()
                });
              }
      })
      return editor
    }

    $('#modulizer').click(function() {
      moduletree();
      // let code = editor_module.getValue();
      //
      // (async () => {
      //   console.log(await modulize(code));
      // })();
    });


    $('#tester').click(function() {
      (async () => {
        await testify();
      })();
    })


    let imports = {}

    function import_module(module_id, alias) {
      var spinner = new Spinner().spin(document.body);

      $.ajax({
        type: 'GET',
        url: '/florence/module/' + module_id + '/tree/',
        dataType:'json',
        cache: false,
        success: function(resp) {
          imports[alias] = modulize(resp.tree);
          console.log(resp.tree);
          // $('#imports').prepend($('<div>')).load('/florence/module/' + module_id + '/import/');
          $.get('/florence/module/' + module_id + '/import/' + alias, function(html) {
            $('#imports').prepend(html);
          })
        },
        error: function(xhr, errmsg, err) {
          console.log(xhr.status + ': ' + xhr.responseText);
        },
        complete: function() {
          spinner.stop();
        }
      });
    }


    function moduletree() {
      var spinner = new Spinner().spin(document.body);

      $.ajax({
        type: 'GET',
        url: '{% url "moduletree" 3 %}',
        dataType:'json',
        cache: false,
        success: function(resp) {
          // tree = resp.tree;
          // let mod = modulize(resp.tree);
          // console.log(mod);
          testify(resp.tree);
        },
        error: function(xhr, errmsg, err) {
          console.log(xhr.status + ': ' + xhr.responseText);
        },
        complete: function() {
          spinner.stop();
        }
      });
    }


    function modulize(tree) {
      let modulized;
      //let exps = _.fromPairs(_.zip(tree.exports, tree.exports));
      let exps = tree.exports.map(exp => exp + ':' + exp).join(', ');

      if (jQuery.isEmptyObject(tree.imports)) {
        modulized = `define(function(){
          ${tree.code}
          return { ${exps} }
        })`;

      } else {
        let _imports = math.transpose(Object.entries(tree.imports));
        let _modulized = _imports[1].map(function(imp) {
          if (typeof imp === 'string') {
            return imp;
          } else {
            return modulize(imp);
          }
        });
        modulized = `define(${JSON.stringify(_modulized)}, function(${_imports[0]}) {
          ${tree.code}
          return { ${exps} }
        })`
      }

      let blob = new Blob([modulized], {type: 'text/javascript'});
      return URL.createObjectURL(blob);
    }


    function testify(tree) {
      let mymodule = modulize(tree); console.log(mymodule);
      requirejs([mymodule], function(mod) {
        const stocks = new mod[tree.exports]();
        const params = {
          apikey: '2JOML1ZPSME2Q28A',
          symbol: 'aapl'
        };

        stocks.get_test(params);
      })
    }


    // async function getcode(modulekey) {
    //   return $.ajax({
    //     type: 'GET',
    //     data: { modulekey: modulekey },
    //     url: '{% url "getcode" %}',
    //     dataType:'json',
    //     cache: false
    //   }).then(resp => resp.code);
    // }
    //
    // async function modulize(code) {
    //   const regex_match = code.matchAll(/from\s+\'(\#f\:\S+)\'/g);
    //   const matches = Array.from(regex_match, function(item) { return item[1] });
    //   const promises = []
    //   for (const match of matches) {
    //     promises.push(getcode(match));
    //   }
    //
    //   const ext_codes = await Promise.all(promises);
    //
    //   var blob, jsfile, subcode_modulized;
    //   for (const item of _.zip(matches, ext_codes)) {
    //     subcode_modulized = await modulize(item[1]);
    //     blob = new Blob([subcode_modulized], {type: 'text/javascript'});
    //     jsfile = URL.createObjectURL(blob);
    //     code = code.replace(item[0], jsfile);
    //   }
    //
    //   return code
    // }


    // async function testify() {
    //   $('#result').html('');
    //
    //   const modulized = await modulize(editor_module.getValue());console.log(modulized)
    //   let test_code = modulized + '\n' + editor_test.getValue();
    //   // let test_code = editor_test.getValue();
    //   let blob = new Blob([test_code], {type: 'text/javascript'});
    //   let js = URL.createObjectURL(blob);
    //
    //   import(js).then(testjs => {
    //     console.log('tested');
    //   });
    // }


    $('.mymodule').click(function() {
      let code = $(this).attr('code');
      editor_module.setValue(code, -1);
    });
  </script>
{% endblock js %}
