{% extends "florence/layout.html" %}

{% block css %}
  {{ block.super }}
  <style>
    .codebox {
      width: 100%;
      background: whitesmoke;
      padding: 10px;
      border-radius: 10px;
    }

    #editor-module {
      min-height: 100px;
      background: none;
    }

    #editor-test {
      min-height: 50px;
      background: none;
    }

    .ace_mobile-menu {
      display: none !important;
    }
  </style>
{% endblock css %}


{% block mastbody %}
<div class="ui center aligned vertical segment" style="background:none;border:none;height:100px;">
  <div class='ui text container' style='text-align:left;'>
    {% for module in user.module_set.all %}
    <div onclick='load_module({{module.pk}})'>
      {{ module.name }}
    </div>
    {% endfor %}
  </div>
</div>

<div class="ui center aligned vertical segment" style="background:none;border:none;">
  <div class="ui text container">
    <div class='ui header'>Code</div>
    <div class='codebox'>
      <div id="editor-module">function foo(items) {
  var x = "All this is syntax highlighted";
  return x;
}</div>
    </div>
  </div>
</div>

<div class="ui center aligned vertical segment" style="background:none;border:none;">
  <div class="ui text container">
    <div class='ui header'>Tester</div>
    <div class='codebox'>
      <div id="editor-test"></div>
    </div>
  </div>
</div>

<div class="ui center aligned vertical segment" style="background:none;">
  <div class="ui text container">
    <button id="modulizer" class="ui black button">modulize</button>
    <button id="tester" class="ui black button">test</button>
  </div>
</div>
{% endblock mastbody %}

{% block js %}
  {{ block.super }}
  <script>
    let editor_module = init_editor('editor-module');
    let editor_test = init_editor('editor-test');

    function init_editor(editor_id) {
      let editor = ace.edit(editor_id);

      editor.setOptions({
  			maxLines: Infinity,        // 줄 전체를 표시
  			highlightActiveLine: true, // 현재 행에 하이라이트 표시
  			theme: 'ace/theme/chrome', // 표시 테마
        showGutter: false,
        readOnly: false,
        mode: "ace/mode/javascript"
  		})

      editor.commands.addCommand({
        name: "showKeyboardShortcuts",
        bindKey: {win: "Ctrl-Alt-h", mac: "Command-Alt-h"},
        exec: function(editor) {
                ace.config.loadModule("ace/ext/keybinding_menu", function(module) {
                    module.init(editor);
                    editor.showKeyboardShortcuts()
                });
              }
      })
      return editor
    }

    $('#modulizer').click(function() {
      console.log(modulize(editor_module.getValue()));
    });


    $('#tester').click(function() {
      testify();
    })

    // $('#testify2').click(function() {
    //   $.ajax({
    //     url: '{% url "module" 1 %}',
    //     type: 'GET',
    //     data: {},
    //     dataType:'json',
    //     cache: false,
    //     contentType: false,
    //     processData: false,
    //     success: function(json) {
    //       const moduleset = { code: json.code };
    //       testify(moduleset);
    //     }
    //   });
    // });

    function modulize(code) {
      let blob = new Blob([code], {type: 'text/javascript'});
      return URL.createObjectURL(blob);
    }


    function testify() {
      let test_code = editor_module.getValue() + '\n' + editor_test.getValue();
      let blob = new Blob([test_code], {type: 'text/javascript'});
      let js = URL.createObjectURL(blob);

      import(js).then(testjs => {
        console.log('tested');
      });
    }

    // 코드를 모듈로 만들기
    // function modulize(moduleset) {
    //   let export_key = /class (\w+) /.exec(moduleset.code)[1];
    //   let modulized;
    //
    //   if (moduleset.imports==undefined) {
    //     modulized = `define(function(){
    //       return {
    //         ${export_key}: ${moduleset.code}
    //       }
    //     })`;
    //
    //   } else {
    //     let _imports = math.transpose(Object.entries(moduleset.imports));
    //     let _modulized = _imports[1].map(_moduleset => modulize(_moduleset));
    //
    //     modulized = `define(${JSON.stringify(_modulized)}, function(${_imports[0]}) {
    //       return {
    //         ${export_key}: ${moduleset.code}
    //       }
    //     })`
    //   }
    //
    //   let blob = new Blob([modulized], {type: 'text/javascript'});
    //   return URL.createObjectURL(blob);
    // }
    //
    //
    //
    // // 코드 테스트하기
    // function testify(moduleset) {
    //   let mymodule = modulize(moduleset); console.log(mymodule);
    //   let export_key = /class (\w+) /.exec(moduleset.code)[1];
    //   let target;
    //
    //   requirejs([mymodule], function(mod) {
    //     target = mod[export_key];
    //
    //     let params = {
    //       apikey: '2JOML1ZPSME2Q28A',
    //       sym: 'aapl',
    //       interval: 'daily',
    //       nbar:5
    //     };
    //
    //     let mysrc = new target();
    //     mysrc.get(params).then(function(output) {
    //       console.log(output);
    //     });
    //   })
    // }


    function load_module(module_pk) {
      $.ajax({
        url: '/florence/module/' + module_pk,
        type: 'GET',
        // data: {},
        dataType:'json',
        cache: false,
        // contentType: false,
        // processData: false,
        success: function(json) {
          editor_module.setValue(json.code, -1);
        }
      });
    }
  </script>
{% endblock js %}
