<!doctype html>
<html lang="ko">
<head>
  <title>Florence</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  {% block css %}
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/static/jsonview/jsonview.css">
  <link rel="stylesheet" href="{% static 'spin/spin.css' %}">

  <!-- favicon.ico 404 Not found error -->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <style>
    * {
      /* font-family: 'Nunito Sans', sans-serif; */
    }
  </style>
  {% endblock css %}
</head>


<body>
  <div id="mastheader">
    {% block mastheader %}
    {% include "florence/header.html" with type="top_only" %}
    {% endblock mastheader %}
  </div>

  <div id="mastbody" style='margin-top:80px;'>
    {% block mastbody %}{% endblock mastbody %}
    {% include 'florence/info.html' %}
  </div>

  <div id="mastfooter">
    {% include "florence/footer.html" %}
  </div>

  {% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
  <script src="/static/semantic/semantic.min.js"></script>
  <script src="/static/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/mathjs@6.2.3/dist/math.min.js"></script>
  <script src="/static/lodash/lodash.js"></script>
  <!-- https://github.com/pgrabovets/json-view -->
  <script src="/static/jsonview/jsonview.js"></script>
  <!-- <script src="/static/jsonTree/jsonTreeViewer.js"></script> -->
  <script src="/static/requirejs/require.js"></script>
  <script src="{% static 'spin/spin.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/fetch-inject@2.0.4/dist/fetch-inject.umd.min.js"></script>


  <script>
    $('#banner .detector').visibility({
      once: false,
      onTopPassed: function() {
        $('#topheader').transition('fade in');
      },
      onTopPassedReverse: function() {
        $('#topheader').transition('fade out');
      }
    });


    $('#topheader .item, #topbanner .item').popup({position: 'bottom center'});

    $('.my.signin.item').click(function() {
      $('.signin-checkbox').prop('checked', true);
    });

    $('.signin-modal .dismiss').click(function() {
      $('.signin-checkbox').prop('checked', false);
    });

    $(document).click(function(event) {
      if (!$(event.target).closest('.signin-modal, .my.item').length) {
        $('.signin-checkbox').prop('checked', false);
      }
    });

    // https://docs.djangoproject.com/en/2.2/ref/csrf/
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function(){
      var csrftoken = Cookies.get('csrftoken');
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
    });
  </script>
  {% endblock js %}

</body>
</html>
