{% extends "florence/layout.html" %}

{% block css %}
  {{ block.super }}
  <style>
  </style>
{% endblock css %}


{% block mastbody %}
<div class="ui center aligned vertical segment" style="background:none;border:none;">
  <div id='module'>
    <importview :imported='imported'></importview>
    <editorview :code='code' @testify='testify'></editorview>

    <div class='ui text container'>
      <!-- <div><canvas id='mychart'></canvas></div> -->
    </div>
  </div>
</div>
{% endblock mastbody %}


{% block js %}
  {{ block.super }}
  {% include "florence/vcomp/importview.html" %}
  {% include "florence/vcomp/libview.html" %}
  {% include "florence/vcomp/editorview.html" %}

  <script>
    var module = new Vue({
      el: '#module',
      delimiters: ['[[', ']]'],
      data: {
        imported: {},
        code: `// TYPE YOUR CODE HERE

class MultiAlphastock extends alphastock.Alphastock {
  opt = {
    symbols: ['goog', 'aapl'],
    apikey: '2JOML1ZPSME2Q28A',
    fields: ['open', 'high', 'low', 'close', 'adj_close', 'volume', 'div_amount', 'split']
  };

  async get(opt) {
    //   axios.get('https://yesno.wtf/api')
    //       .then(function (response) {
    //         vm.answer = _.capitalize(response.data.answer)
    //       })
    // const url = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=MSFT&interval=5min&apikey=demo';
    // return await axios.get(url)
    //                 .then(res => res.json())
    //                 .then(json => json["Time Series (5min)"]);
    return jquery.map([1,2,3], (item)=>{return item*2})
  }
}

const mstocks = new MultiAlphastock();
// stocks.opt.symbol = 'goog';
// stocks.opt.apikey = '2JOML1ZPSME2Q28A';
mstocks.test();`
      },

      methods: {
        testify: function(code) {
          testify(code);
        }
      }
    });


    function testify(code) {
      var testmodule = modulize({
        imports:module.imported,
        code:code
      });

      testmodule = `requirejs([${JSON.stringify(testmodule)}], function() {})`;
      let blob = new Blob([testmodule], {type: 'text/javascript'});
      let js = URL.createObjectURL(blob);

      console.log(js);
      import(js).then(testjs => {});


      // const prepend = `requirejs.config({
      // });`

      // paths: {
      //   "lodash": "https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min",
      //   "jquery": "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min"
      // },

      // _modulized.push('lodash');
      // _imports[0].push('lod');
      //
      // _modulized.push('jquery');
      // _imports[0].push('jq');
    }


    const requirejs_config_set = {};

    function modulize(tree) {
      let modulized;
      let exps;

      if (tree.exports) {
        exps = tree.exports.map(exp => exp + ':' + exp).join(', ');
      }

      if ($.isEmptyObject(tree.imports)) {
        modulized = `define(function(){
          ${tree.code}
          return { ${exps} }
        })`;

      } else {
        let _imports = math.transpose(Object.entries(tree.imports));
        var path;
        var id;

        let _modulized = _imports[1].map(function(imp) {
          if (imp.url) {
            path = imp.url.replace(/.js$/, '');
            id = path.replace(/^https?:\/\//, '');
            requirejs_config_set[id] = [path];
            // return imp.url;
            return id;

          } else {
            return modulize(imp);
          }
        });

        modulized = `define(${JSON.stringify(_modulized)}, function(${_imports[0]}) {
          ${tree.code}
          return { ${exps} }
        })`
      }

      let blob = new Blob([modulized], {type: 'text/javascript'});
      return URL.createObjectURL(blob);
    }
  </script>
{% endblock js %}
