<script type='text/x-template' id='editorview-template'>
  <div style='background:whitesmoke;margin-top:15px;padding-top:10px;padding-bottom:10px;'>
    <div class='ui text container'>
      <div ref='editor' style='background:none;'></div>
      <div class='ui fluid black button' @click='$emit("testify")' style='margin-top:20px;'>RUN</div>
    </div>
  </div>
</script>


<script>
  Vue.component('editorview', {
    template: '#editorview-template',
    delimiters: ['[[', ']]'],
    props: ['code'],
    data: function() {
      return {
        editor: null
      }
    },

    mounted: function() {
      this.editor = ace.edit(this.$refs.editor);
      this.editor.setOptions({
  			// maxLines: 5,
        maxLines: Infinity,        // 줄 전체를 표시
        minLines: 10,
  			highlightActiveLine: true, // 현재 행에 하이라이트 표시
  			theme: 'ace/theme/chrome', // 표시 테마
        showGutter: false,
        readOnly: false,
        mode: "ace/mode/javascript",
        // autoScrollEditorIntoView: true,
  		});

      this.editor.setValue(this.code, -1);
    }
  });
</script>
