{% include "florence/vcomp/libsearchview.html" %}
{% include "florence/vcomp/importlistview.html" %}

<script type='text/x-template' id='importview-template'>
  <div class="importview" style='position:relative;'>
    <libsearchview
      v-show='true'
      :active='onsearch'
      :imported='imported'
      @deactivate='onsearch=false'
    ></libsearchview>

    <importlistview
      v-show='true'
      :imported='imported'
      :devmode='true'
      @activate_search='onsearch=true'
      @show_detail='show_detail($event)'
    ></importlistview>

    <libview
      v-show='true'
      :imp='imported[selected]'
      @hide_detail='hide_detail'
    ></libview>
  </div>
</script>

<script>
  Vue.component('importview', {
    template: '#importview-template',
    delimiters: ['[[', ']]'],
    props: ['imported'],
    data: function() {
      return {
        // imported: {},
        selected: null,
        onsearch: false
      }
    },

    methods: {
      show_detail: function(alias) {
        this.selected = alias;
      },

      hide_detail: function() {
        this.selected = null;
      },
    }
  });
</script>
