<style>
  .searchkeyword-clear-enter-active, .searchkeyword-clear-leave-active {
    transition: all 0.2s ease;
  }
  .searchkeyword-clear-enter, .searchkeyword-clear-leave-to {
    opacity: 0;
  }

  .libsearchview-show-enter-active, .libsearchview-show-leave-active {
    transition: all 0.2s ease;
  }
  .libsearchview-show-enter, .libsearchview-show-leave-to {
    opacity: 0;
  }

  .libsearchview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .libsearchview .segments {
    box-shadow: none;
    background: white;
    border-color: orange;
    margin: 0;
  }

  .libsearchview .segment .action {
    width: 40px;
    height: 40px;
    margin: 0;
    background: none;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
  }

  .libsearchview .segment .input {
    padding-right: 30px;
  }

  .libsearchview .segment .input input {
    font-weight: bold;
    background: none;
  }

  .libsearchview .segment .version {
    font-size: 10px;
    margin-left: 5px;
    padding: 5px;
    transform: translateY(-3px)
  }

  .libsearchview .segment .content {
    font-size: 12px;
    word-wrap: break-word;
  }
</style>


{% verbatim %}
<script type='text/x-template' id='libsearchview-template'>
  <transition name='libsearchview-show'>
    <div class='ui text container' style='position:relative;'>

      <div v-if='active' @mousedown.prevent class='libsearchview'>
        <div class='ui segments'>
          <div class='ui segment'>
            <div class='search ui fluid transparent input'>
              <input ref='input' v-model='searchkeyword' @blur='$emit("deactivate")' class="prompt" type="text" spellcheck="false" style='height:21px;'>
            </div>

            <transition name='searchkeyword-clear'>
              <div v-if='searchkeyword' class='action ui icon button' @click='searchkeyword=""'>
                <i class="times circle icon" style='vertical-align:middle;'></i>
              </div>
            </transition>
          </div>

          <template v-if='searchkeyword.length > 2'>
            <div v-for='lib in searched_libs' class='ui left aligned segment' style='padding-right:50px;'>
              <img v-if='lib.author_avatar' class="ui image" :src="lib.author_avatar" style="display:inline;object-fit:cover;width:30px;height:30px;border-radius:5px;margin-right:5px;">
              <span style='font-weight:bold;font-size:20px;'>{{ lib.name }}</span>
              <div v-if='lib.version' class='version ui compact mini button'>
                {{ lib.version }}
              </div>

              <div class='content'>{{ lib.description }}</div>
              <div v-if='lib.url' class='content' style='color:silver;'>{{ lib.url }}</div>

              <div v-if='has(lib)' class='action ui icon compact button' style='color:orange;'>
                <i class="material-icons">check</i>
              </div>
              <div v-else class='action ui icon compact button' @click='import_lib(lib)'>
                <i class="material-icons">add</i>
              </div>
            </div>

            <div v-if='searched_libs.length==0' class='ui segment' style='padding:10px;'>
              <p style='background:none;margin-bottom:0;'>
                <i class="material-icons-outlined" style='font-size:40px;'>priority_high</i>
              </p>
              <p style='background:none;'>
                No matching library
              </p>
            </div>
          </template>

          <template v-else>
            <div class='ui segment' style='padding:10px;color:black;'>
              <p style='background:none;margin-bottom:0;'>
                <i class="material-icons-outlined" style='font-size:40px;'>search</i>
              </p>
              <p style='background:none;'>
                Please type keywords of js library to import
              </p>
            </div>
          </template>

        </div>

        <div class='ui icon compact right floated button' @click='$emit("deactivate")' style='width:40px;height:40px;background:none;'>
          <i class="material-icons">close</i>
        </div>

      </div>

    </div>
  </transition>
</script>


<script>
  Vue.component('libsearchview', {
    template: '#libsearchview-template',
    props: ['active', 'imported'],

    data: function() {
      return {
        spinner: new Spinner(),
        searchkeyword: '',
        searched: {
          intlibs: [],
          extlibs: []
        },
        import_order: 0
      }
    },

    computed: {
      searched_libs: function() {
        return this.searched.extlibs.concat(this.searched.intlibs);
      }
    },

    watch: {
      active: function(is_active, was_active) {
        if (is_active) {
          var libsearchview = this
          this.$nextTick(function() {
            libsearchview.$refs.input.focus();
          });

        } else {
          this.searchkeyword = '';
        }
      },

      searchkeyword: function(newKeyword, oldKeyword) {
        var newKeyword_trim = newKeyword.trim();

        if (newKeyword_trim.length == 0) {
          this.searchkeyword = '';

        } else if (newKeyword_trim.length > 1) {
          this.debouncedSearch();

        } else {
          this.searched.intlibs = [];
          this.searched.extlibs = [];
        }
      }
    },

    created: function() {
      this.debouncedSearch = _.debounce(this.search, 500);
    },

    methods: {
      spinner_start: function() {
        this.spinner.spin(document.body);
      },

      spinner_stop: function() {
        this.spinner.stop();
      },

      search: function() {
        this.search_extlib();
        this.search_intlib();
      },


      search_intlib: function() {
        let api = `/florence/lib/search?q=${this.searchkeyword}`;
        let libsearchview = this;

        fetch(api)
          .then(x => x.json())
          .then(js => {
            libsearchview.searched.intlibs = js.result;
          });
      },


      search_extlib: function() {
        // var api = `https://api.cdnjs.com/libraries?search=${this.searchkeyword}&fields=version,author,assets,homepage,description,repository`;
        // 이제 assets는 특정 lib를 지정할때만 가능한듯: 2020.02.07
        var api = `https://api.cdnjs.com/libraries?search=${this.searchkeyword}&fields=version,author,homepage,description,repository`;
        var libsearchview = this;

        fetch(api)
          .then(x => x.json())
          .then(js => js.results.splice(0, 3))
          .then(results => {
            libsearchview.searched.extlibs = results.map((result) => {
              return libsearchview.extlib_fetch_mapper(result);
            });
          });
      },

      extlib_fetch_mapper: function({latest, repository, ...etc}) {
        return {
            ...etc,
            url: latest,
            repo: repository.url,
            // release: assets.splice(0, 5).map(asset => asset.version)
        }
      },


      // has: function(obj) {
      //   return _.some(this.imported, obj)
      // },

      has: function(lib) {
        if (lib.url) {
          return _.some(this.imported, {url:lib.url});
        } else if (lib.id) {
          return _.some(this.imported, {id:lib.id});
        }
      },

      alias_duplicated: function(alias) {
        return alias in this.imported;
      },

      guess_alias_from_name: function(name) {
        var alias = 'tmp';
        var pattern = /[^(a-zA-Z)]/gi;

        var i = 1;
        for (var cand of name.split(pattern)) {
          if (cand!='') {
            alias = cand;
            // while (this.has({alias:alias})) {
            while (this.alias_duplicated(alias)) {
              alias = cand + ('_' + i++)
            }
            return alias
          }
        }

        return alias;
      },


      import_lib: function(lib) {
        if (lib.url) {
          this.import_extlib(lib);
        } else {
          this.import_intlib(lib);
        }
      },

      import_intlib: function(lib) {
        let api = `/florence/lib/${lib.id}/family`;
        var libsearchview = this;
        libsearchview.spinner_start();

        fetch(api)
          .then(x => x.json())
          .then(function({family}) {
            let alias = libsearchview.guess_alias_from_name(lib.name);
            Vue.set(libsearchview.imported, alias, family);
            libsearchview.$emit('deactivate');
            libsearchview.spinner_stop();
          });
      },


      import_extlib: function(lib) {
        var libsearchview = this;
        libsearchview.spinner_start();

        // fetch(lib.url.replace(/.min.js$/g, '.js'))
        fetch(lib.url)
          .then(x => x.text())
          .then(function(code) {
            let alias = libsearchview.guess_alias_from_name(lib.name);
            Vue.set(libsearchview.imported, alias, {
              name: lib.name, // + ' ' + lib.version,
              version: lib.version,
              url: lib.url,
              description: lib.description,
              code: code,
              order: libsearchview.import_order++
            });

            libsearchview.$emit('deactivate');
            libsearchview.spinner_stop();
          }
        );
      },


    }
  });
</script>
{% endverbatim %}
