<style>
  .searchkeyword-clear-enter-active, .searchkeyword-clear-leave-active {
    transition: all 0.2s ease;
  }
  .searchkeyword-clear-enter, .searchkeyword-clear-leave-to {
    opacity: 0;
  }
</style>

{% verbatim %}
<script type='text/x-template' id='libsearchview-template'>
  <div v-if='active' class='ui segments' style='position:absolute;top:0;left:0;width:100%;box-shadow:none;background:white;border-color:orange;z-index:10;margin:0;'>
    <div class='ui segment'>
      <div class='ui fluid transparent input' style='padding-left:30px;padding-right:30px;'>
        <input ref='input' v-model='searchkeyword' class="prompt" type="text" style='font-weight:bold;background:lightblue;' spellcheck="false">
      </div>

      <div class='ui icon compact button' style='width:40px;height:40px;margin:0;background:none;position:absolute;top:50%;left:5px;transform:translateY(-50%);'>
        <i class="material-icons">search</i>
      </div>

      <transition name='searchkeyword-clear'>
        <div v-if='searchkeyword' class='ui icon compact button' @click='searchkeyword=""' style='width:40px;height:40px;margin:0;background:none;position:absolute;top:50%;right:5px;transform:translateY(-50%);'>
          <i class="material-icons">close</i>
        </div>
      </transition>
    </div>

    <template class="searchresults">
      <div v-for='item in searched.clib' class='ui left aligned segment' style='padding-right:50px;'>
        <span style='font-weight:bold;font-size:20px;'>{{ item.name }}</span>
        <div class='ui compact mini button' style='font-size:10px;margin-left:5px;padding:5px;transform:translateY(-3px)'>
          {{ item.version }}
        </div>

        <div style='font-size:12px;'>{{ item.description }}</div>
        <div style='font-size:12px;color:silver;'>{{ item.latest }}</div>

        <div class='ui icon compact button' @click='$emit("import_lib", item)' style='width:40px;height:40px;margin:0;background:none;position:absolute;top:50%;right:5px;transform:translateY(-50%);'>
          <i class="material-icons">add</i>
        </div>
      </div>

      <div v-for='item in searched.flib' class='ui left aligned segment' style='padding-right:30px;'>
      </div>

      <div v-if='!searched.clib && !searched.flib' class='ui segment' style='padding:10px;color:black;'>
        Type keywords of js library to import
      </div>
    </template>

  </div>
</script>

<script>
  Vue.directive('click-outside', {
    bind: function (el, binding, vnode) {
      this.event = function (event) {
        if (!(el == event.target || el.contains(event.target))) {
          vnode.context[binding.expression](event);
        }
      };
      document.body.addEventListener('click', this.event)
    },
    unbind: function (el) {
      document.body.removeEventListener('click', this.event)
    },
  });

  Vue.component('libsearchview', {
    template: '#libsearchview-template',
    props: ['active'],

    data: function() {
      return {
        searchkeyword: '',
        searched: {
          clib: null,
          flib: null
        }
      }
    },

    watch: {
      active: function(is_active, was_active) {
        if (is_active) {
          var libsearchview = this
          this.$nextTick(function() {
            libsearchview.$refs.input.focus();
            // setTimeout(function() {
            //   libsearchview.$refs.input.focus();
            // }, 0);
          });

          // this.searchkeyword = '';
        } else {
          // this.$refs.input.blur();
        }
      },

      searchkeyword: function(newKeyword, oldKeyword) {
        if (newKeyword.trim().length > 2) {
          this.debouncedSearch();

        } else {
          this.searched.clib = null;
        }
      }
    },

    computed: {
      // libsearchview_style: function() {
      //   if (this.focused || this.searched.clib || this.searched.lib) {
      //     return {
      //       background: 'white',
      //       border: '1px solid orange'
      //     }
      //
      //   } else {
      //     return {
      //       background: 'whitesmoke',
      //       border: '1px solid whitesmoke'
      //     }
      //   }
      // }
    },

    created: function() {
      this.debouncedSearch = _.debounce(this.search, 500);
    },

    methods: {
      // test: function() {
      //   this.$emit('deactivate');
      // },

      search: function() {
        this.search_clib();
        this.search_flib();
      },

      search_clib: function() {
        var api = `https://api.cdnjs.com/libraries?search=${this.searchkeyword}&fields=version,description,author`
        fetch(api)
          .then(x => x.json())
          .then(js => {
            this.searched.clib = js.results.splice(0, 3);
          });
      },

      search_flib: function() {
        console.log('search lib in florence');
      }
    }
  });
</script>
{% endverbatim %}
