{% extends "geenie/layout.html" %}

{% block style %}
  {{ block.super }}
  <style>
    #addapp {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      height: 60px;
      background: none;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      border: 1px dashed;
      border-radius: 10px;
    }

    #addapp:hover {
      background: #FFD700;
      cursor: pointer;
    }

    .appmenu .right.menu .item {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      background: none;
      width: 30px !important;
      height: 30px !important;
      padding: 0 !important;
      margin: 2px !important;
    }

    .appcard {
      box-shadow: none !important;
      border: 1px solid !important;
      border-radius: 0 !important;
    }

    .appcard:hover {
      box-shadow: 0 0 20px rgba(0,0,0,0.1) !important;
    }

    .appcard .content {
      background: none;
      padding: 0 5px 0 5px !important;
    }

    .appcard .inner {
      height: 200px;
      /* background: lightyellow; */
      border-top: 1px solid;
    }

    .appmenu {
      padding-right: 2px;
      margin-bottom: 0 !important;
    }

    .appmenu .item .icon {
      width: 60%;
      height: 60%;
    }
  </style>
{% endblock style %}

{% block mastheader %}
  {% include "geenie/header.html" with appbox="active" %}
{% endblock mastheader %}

{% block mastbody %}
<div class="ui vertical segment" style="background:none">
  <div class="ui container" style="background:white;padding:10px;">
    <div id="addapp">
      <div class="ui header" style="background:none;">
        <i class="icon" data-feather="plus-square"></i>
        <span style="margin-left:5px;">Add app</span>
      </div>
    </div>

    <div class="ui two stackable cards">
      {% include "geenie/appcard.html" with topic="BTC/ETH spread" %}
      {% include "geenie/appcard.html" with topic="KSP200 vs S&P500" %}
      {% include "geenie/appcard.html" with topic="My backtester #1" %}
      {% include "geenie/appcard.html" with topic="NLP sentiment" %}
      {% include "geenie/appcard.html" with topic="My backtester #2" %}
      {% include "geenie/appcard.html" with topic="Korea realestate market" %}
    </div>

  </div>
</div>

{% include "geenie/more.html" %}
{% endblock mastbody %}

{% block js %}
  {{ block.super }}
  <script>
    $('#addapp').click(function() {
      $('.navi[dir="left"]').css('visibility', 'hidden');
      $('.navi[dir="right"]').css('visibility', 'visible');
      $('#more .inner.segments').css({'left': 0, 'width': '300%'});
      $('#more .inner.segments').attr('state', 1)
      $('#more').css('bottom', 0);
    });

    $('#more .close.item').click(function() {
      var more = $('#more');
      var h = more.css('height');
      $('#more').css('bottom', '-' + h);
    });

    $('.navi').click(function() {
      var dir = $(this).attr('dir');
      var inner_seg = $('.inner.segments');
      var w = inner_seg.children('.segment').width();
      var n_segments = inner_seg.children('.segment').length;
      var navi_left = $('.navi[dir="left"]');
      var navi_right = $('.navi[dir="right"]');
      var chg;
      var state;

      if (dir == 'left') {
        chg = '+=' + w;
        state = Number(inner_seg.attr('state')) - 1;
        inner_seg.attr('state', state);

      } else {
        chg = '-=' + w;
        state = Number(inner_seg.attr('state')) + 1;
        inner_seg.attr('state', state);
      }

      if (state == 1) {
        navi_left.css('visibility', 'hidden');
        navi_right.css('visibility', 'visible');

      } else if (state == n_segments) {
        navi_left.css('visibility', 'visible');
        navi_right.css('visibility', 'hidden');

      } else {
        navi_left.css('visibility', 'visible');
        navi_right.css('visibility', 'visible');
      }

      inner_seg.css('left', chg);
    });

  </script>
{% endblock js %}
