{% extends "geenie/layout.html" %}

{% block style %}
  {{ block.super }}
  <style>
    #addapp {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      height: 60px;
      background: none;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      border: 1px dashed;
      border-radius: 10px;
    }

    #addapp:hover {
      background: lightyellow;
      cursor: pointer;
    }

    .appmenu .right.menu .item {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      background: none;
      width: 30px !important;
      height: 30px !important;
      padding: 0 !important;
      margin: 2px !important;
    }

    .appcard {
      /* box-shadow: 0 0 10px rgba(0,0,0,0.1) !important; */
      /* box-shadow: none !important; */
      /* border: 1px solid !important; */
    }

    .appmenu {
      background: none;
      padding: 0 5px 0 5px !important;
    }

    .appmenu .menu {
      background: none;
      padding-right: 2px;
    }

    .appmenu .item .icon {
      width: 60%;
      height: 60%;
    }
  </style>
{% endblock style %}

{% block mastheader %}
  {% include "geenie/header.html" %}
{% endblock mastheader %}

{% block mastbody %}
<div class="ui vertical segment" style="background:none">
  <div class="ui container" style="background:white;height:1000px;padding:10px;">
    <div id="addapp">
      <i class="icon" data-feather="plus-square"></i>
      <span style="margin-left:5px;background:none;">Add app</span>
    </div>

    <div class="ui two stackable cards">
      {% include "geenie/appcard.html" with topic="BTC/ETH spread" %}
      {% include "geenie/appcard.html" with topic="KSP200 vs S&P500" %}
      {% include "geenie/appcard.html" with topic="My backtester #1" %}
      {% include "geenie/appcard.html" with topic="NLP sentiment" %}
      {% include "geenie/appcard.html" with topic="My backtester #2" %}
      {% include "geenie/appcard.html" with topic="Korea realestate market" %}
    </div>

  </div>
</div>
{% endblock mastbody %}

{% block js %}
  {{ block.super }}
  <script>
    $('#header-floated').visibility({
      once: false,
      onBottomPassed: function() {
        $('#header-fixed').transition('fade in');
      },
      onBottomPassedReverse: function() {
        $('#header-fixed').transition('fade out');
      }
    });
  </script>
{% endblock js %}
