<div class="appcard card">
  <div class="content">
    <div class="appmenu ui icon secondary menu">
      <div class="header item" href="#">
        {{ topic }}
      </div>

      <div class="right menu">
        <a class="item" href="#">
          <i class="icon" data-feather="refresh-cw"></i>
        </a>

        <a class="item" href="#">
          <i class="icon" data-feather="share-2"></i>
        </a>

        <a class="item">
          <i class="icon" data-feather="settings"></i>
        </a>
      </div>
    </div>

    <div class="inner">
    </div>

  </div>
</div>
