<!doctype html>
<html lang="ko">
<head>
  <title>Geenie</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  {% block style %}
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,800" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">

  <style>
    * {
      font-family: 'Nunito Sans', sans-serif;
    }
  </style>
  {% endblock style %}

</head>


<body>
  <div id="mastheader">
    {% block mastheader %}{% endblock mastheader %}
  </div>

  <div id="mastbody">
    {% block mastbody %}{% endblock mastbody %}
  </div>

  {% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/semantic/semantic.min.js"></script>
  <script src="/static/feather/feather.js"></script>
  <script>
    feather.replace();

    $('#header-floated').visibility({
      once: false,
      onBottomPassed: function() {
        $('#header-fixed').transition('fade in');
      },
      onBottomPassedReverse: function() {
        $('#header-fixed').transition('fade out');
      }
    });
  </script>
  {% endblock js %}

</body>
</html>
